html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    background: rgb(236, 236, 236);
}
nav{
    background-color: #fdfdfd;
    box-shadow: 0px 2px 12px rgb(201, 200, 200);
    height: 9vh;
}
.image{
    width: 60px;
}
.search{
    width: 42vh;
    height: 5vh;
    position: relative;
    bottom: 25px;
    border-radius: 20px;
    border: none;
    background-color: #c5c5c53a;
    padding-left: 40px;
}
nav a{
    font-size: 24px;
    display: inline-block;
}
.search-icon{
    cursor: pointer;
    position: absolute;
    left: 10vh;
    top: 22px;
    font-size: 18px;
    color: rgb(133, 130, 130);
}
.search-icon:hover{
    color: rgb(74, 122, 225);
}
.icons-wrapper{
    float: right;
    color: rgb(41, 41, 41);
    background: #5a58583a;
    width: 48px;
    text-align: center;
    border-radius: 50%;
    margin: 3px;
    margin-top: 10px;
    padding: 4px;
    padding-top: 8px;
    font-size: 28px;
    overflow: hidden;
    display: inline;
}
.icons-container{
    color: rgb(81, 81, 81);
    width: 48px;
    font-size: 22px;
    position: relative;
    left: 150px;
    bottom: 20px;
    margin: 15px;
    padding: 15px;
}
.full-page{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 620px;
    height: 300px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: #fdfdfd;
    box-sizing: border-box;
    box-shadow: 0 8px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.heading{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}
.content-container{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 15px;
}
small{
    font-weight: 200;
}
.checkbox{
    float: right;
    transform: scale(2); 
}
.logged-in{
    padding-top: 16px;
}
.click{
    float: right;
    margin-top: 30px;
}
.btn{
    width: 13vh;
    padding: 7px;
    border-radius: 8px;
    background: rgb(74, 122, 225);
    border: none;
    font-weight: bold;
    height: 32px;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    color: #000000;
    transition: 0.8s ease-in-out;
}