body,
* {
    margin: auto;
}
body {
  background: #eff2f5;
}
nav{
    height: 10vh;
    background-color: #fdfdfd;
    box-shadow: 0px 2px 12px rgb(201, 200, 200);
}
nav img{
    width: 200px;
}
.home-text{
    margin-left: 75%;
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
    color: rgb(74, 122, 225);
}
.home-text:hover{
    color: #010101b2;
    transition: 0.8s ease-in-out;
}
.full-page{
    background: #fdfdfd;
    border-radius: 8px;
    box-shadow: 1px 3px 4px rgb(188, 186, 186);
    position: absolute;    
    top: 200px;
    left: 520px;
    padding: 20px;
}
.heading{
    font-size: 21px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 14px; 
}
.content{
    width: 58vh;
    display: inline-block;
    padding-top: 14px;
    font-weight: 350;
    font-family: serif;
}
.form{
    padding-bottom: 14px;
    margin-top: 14px;
}
.password{
    height: 5vh;
    width: 39vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: transparent;
    padding-left: 15px;
    border-right: none;
    border-bottom: 2px solid;
}
.btn{
    width: 10vh;
    height: 5.8vh;
    background: transparent;
    border-left: none;
    cursor: pointer;
    position: absolute;

    color: rgb(74, 122, 225);
    font-weight: bold;
    font-size: 16px;
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.btn:hover{
    color: #0101016e;
    transition: 1s ease-in-out;
}
.clicks{
    padding-top: 14px;
    padding-left: 32vh;
    display: flex;
    width: 25vh;
}
.btnn1{
    width: 10vh;
    padding: 6px;
    border-radius: 8px;
    background: rgb(183, 183, 183);
    border: none;
    font-weight: bold;
    height: 32px;
    cursor: pointer;
}
.btnn1:hover{
    color: rgb(8, 8, 247);
    transition: 0.8s ease-in-out;
}
.btnn2{
    width: 13vh;
    padding: 7px;
    border-radius: 8px;
    background: rgb(74, 122, 225);
    border: none;
    font-weight: bold;
    height: 32px;
    color: #fff;
    cursor: pointer;
}
.btnn2:hover{
    color: #000000;
    transition: 0.8s ease-in-out;
}
.question{
    position: absolute;
    top: 19.5vh;
    left: 55vh;
}
.question button{
    cursor: pointer;
    width: 5vh;
    height: 5.5vh;
    background: rgb(183, 183, 183);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: medium;
}
.question button:hover{
    color: rgb(74, 122, 225);
    transition: 0.8s ease-in-out;
}
footer {
    position: absolute;
    top: 70vh;
    left: 450px;
}
  footer ul{
    padding-top: 12px;
    display: inline;  
}
  footer ul li{
    list-style: none;
}
  footer a {
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: light;
}
.add button{
    cursor: pointer;
    width: 5vh;
    height: 2.5vh;
    background: rgb(213, 212, 212);
    border: 1px solid;
    border-color: rgb(180, 180, 180);
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
}
.content1{
    width: 70vh;
    display: inline-block;
    
    font-weight: 300;
    font-family: serif;
}
.login-container{
    margin-top: 20px;
}
.login-container p
{
    padding-top: 22px;
}
.login-container h4{
    display: inline-block;
}
.login-container small{
    color: #0000008c;
}
.checkbox{
    float: right;
}
input[type='radio'] { 
    transform: scale(2); 
}
.clicks1{
    float: right;
    margin-top: 30px;
}
.ghost{
    width: 50px;
    display: inline-block;
    margin-top: 10px;
}
nav .search{
    width: 38vh;
    height: 5vh;
    margin-left: 5px;
    position: relative;
    bottom: 25px;
    border-radius: 20px;
    border: none;
    background-color: #c5c5c53a;
}
nav .search::placeholder{
    padding-left: 15px;
    font-family: Helvetica;
}
.home-icon{
    margin-left: 15%;
    font-size: 25px;
    color: rgba(74, 52, 174, 0.928);
}
.home-icon:hover{
    color: #000;
    transition: 00.8s ease-in-out;
}