html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eff2f5;
}
.logo{
 padding-top: 60px;
}
.logo img{
  width: 18em;
  padding-left: 30px;
}
.logo h4{
  padding-left: 40px;
}
.flex-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-evenly;
  margin-top: 50px;
}
.flex-container h4{
  padding-top: 20px;
  font-family: Arial;
  font-weight: 100;
}
.form-wrapper {
  background: #fff;
  /* padding: 15px; */
  flex-basis: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 330px;
  padding-top: 40px;
  box-shadow: 3px 5px 10px #b3b0b0;
  border-radius: 12px;
}
.form-wrapper a{
  padding-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}
::placeholder{
  background-color: rgb(231, 237, 245);
  border-radius: 2spx;
}
.form-control {
  width: 100%;
  padding: 5px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 10px;
}
.btn {
  width: 300px;
  height: 40px;
  background: rgb(17, 95, 204);
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: medium;
}
form p a {
  color: rgb(18, 111, 241);
  text-decoration: none;
  padding-left: 75px;
  font-family: Arial;
  background-color: white;
  display: flex;
}
.btnn {
  width: 160px;
  height: 40px;
  background: rgb(34, 150, 34);
  border: none;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 72px;
}
.btnn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  top: 30px;
}
main span p {
  
  font-family: Arial;
  font-size: small;
  font-weight: 400;
  padding-top: 37px;
  padding-right: 18px;
}
main span p a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding-left: 40px;
}
footer {
  position: absolute;
  top: 70vh;
  left: 450px;
}
footer ul{
  padding-top: 12px;
}
footer ul li{
    list-style: none;
}
footer a {
  color: #000000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: x-small;
  font-weight: lighter;
}